a2wsgi==1.10.10
aiofile==3.9.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp_socks==0.11.0
aiosignal==1.4.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
appopener==1.7
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.11.1
asttokens==3.0.0
async-lru==2.0.5
asyncio-atexit==1.0.1
attrs==25.3.0
auto-py-to-exe==2.44.1
azure-ai-documentintelligence==1.0.2
azure-core==1.39.0
azure-identity==1.25.3
babel==2.17.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.9.0
bottle==0.12.25
bottle-websocket==0.2.9
brotli==1.2.0
browser-cookie3==0.20.1
CacheControl==0.14.3
cachetools==5.5.2
caio==0.9.25
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2024.7.4
cffi==2.0.0
charset-normalizer==3.3.2
chatgpt==2.2212.0
click==8.1.8
cloudscraper==1.2.71
cobble==0.1.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.5
contourpy==1.3.2
cryptography==45.0.5
cssselect2==0.9.0
curl_cffi==0.15.0
cycler==0.12.1
ddgs==9.13.0
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.3.1
distlib==0.3.9
distro==1.9.0
Django==6.0.5
Eel==0.17.0
emoji==2.15.0
et_xmlfile==2.0.0
executing==2.2.0
fastapi==0.115.6
fastjsonschema==2.21.1
ffmpy==0.5.0
filelock==3.16.1
firebase_admin==7.1.0
Flask==3.1.0
flatbuffers==25.12.19
fonttools==4.58.0
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2024.12.0
future==1.0.0
g4f==7.4.7
gevent==24.2.1
gevent-websocket==0.10.1
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gradio==5.12.0
gradio_client==1.5.4
grapheme==0.6.0
greenlet==3.0.3
grpcio==1.74.0
grpcio-status==1.74.0
gunicorn==23.0.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.27.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.7
ipykernel==6.29.5
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.10.0
joblib==1.5.1
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
keyboard==0.13.5
kiwisolver==1.4.8
lxml==6.0.3
lz4==4.4.5
magika==0.6.3
mammoth==1.11.0
markdown-it-py==3.0.0
markdownify==1.2.2
markitdown==0.1.5
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.36.0
msal-extensions==1.3.1
msgpack==1.1.1
mss==10.1.0
multidict==6.7.1
mysql-connector-python==9.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nest-asyncio2==1.7.2
notebook==7.4.2
notebook_shim==0.2.4
numpy==2.2.1
olefile==0.47
onnxruntime==1.20.1
openai==1.97.1
openpyxl==3.1.5
orjson==3.10.14
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pdfminer.six==20251230
pdfplumber==0.11.9
pefile==2023.2.7
pillow==11.0.0
platformdirs==4.3.8
plyer==2.1.0
primp==1.2.2
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.31.1
psutil==6.1.1
psycopg2-binary==2.9.12
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.19.1
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyjokes==0.8.3
PyJWT==2.10.1
PyMsgBox==1.0.9
pyparsing==3.1.2
pypdfium2==5.7.0
pyperclip==1.9.0
pypiwin32==223
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==3.3.0
python-multipart==0.0.20
python-pptx==1.0.2
python-socks==2.8.1
pyttsx3==2.90
pytweening==1.2.0
pytz==2024.2
pywhatkit==5.4
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.4.0
qrcode==8.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.25.1
rsa==4.9.1
ruff==0.9.2
safehttpx==0.1.6
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
setuptools==72.1.0
shadowcopy==0.0.4
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.12.0
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.41.3
sympy==1.14.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tk==0.1.0
tls-client==1.0.1
tomlkit==0.13.2
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.1
types-python-dateutil==2.9.0.20250516
typing_extensions==4.12.2
tzdata==2024.2
uri-template==1.3.0
urllib3==2.2.2
uv==0.11.6
uvicorn==0.34.0
virtualenv==20.31.2
wasmtime==43.0.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
wheel==0.45.1
whichcraft==0.6.1
widgetsnbextension==4.0.14
wikipedia==1.4.0
WMI==1.5.1
wrapt==2.1.2
xlrd==2.0.2
xlsxwriter==3.2.9
yarl==1.23.0
youtube-transcript-api==1.0.3
zendriver==0.15.3
zope.event==5.0
zope.interface==6.4.post2
